@charset "utf-8";
.center{ width:1080px; max-width: 100%; margin:0 auto; position:relative;
    @include screen(1080px) { padding:0 2%;}
} 
#container{
    @include screen(876px) {padding-top:0;}
}

#quaker{ padding-bottom: 50px; overflow-x: hidden;
    @include screen(460px) { padding-bottom: 0;}
    .iconRed{ width:16px; height:16px; background-color:#9C2730; margin-right:10px; display:inline-block; vertical-align:middle; z-index: 10; position: relative; }
    .banner{ margin-bottom: -20px; position:relative;
        .bulb{ position:absolute;  width:cal(100,1080); max-width:100px; bottom:30px; z-index: 9; cursor:pointer;}
        @include screen(1920px) {
            .bulb{ right:20%;}
        } 
        @include screen(1366px) { 
            img{ max-width:130%; width:130%; margin-left:-10%;}
            .bulb{ right:8%; }
        }
        @include screen(1080px) { 
            img{ max-width:150%; width:150%; margin-left:-20%;}
            .bulb{ right:0%; bottom:15px;}
        }
        @include screen(460px) {  margin-bottom:-10px; 
            img{ max-width:170%; width:170%; margin-left:-30%;}
            .bulb{ right:1%; bottom:10px;}
        } 
    }
    .topGreen{ position:relative;
        .bigImg{ height:45px; }
        @include screen(460px) { .bigImg{ height:15px;}}
    }
    .speTip{ margin-bottom:30px; position:relative; margin-top:50px;
        .botImg{ margin-top: 20px; margin-bottom:8px;
            &.notshow{ display:none;}
        }
        .tip{ position:absolute; top:18px; z-index: 10;}
        p{ display:inline-block; vertical-align: middle; font-size: 24px; color: #000; }
        &.bottomWarp .bg{ width:cal(370,1180); }
        .bg{ width:cal(508,1180); }
        .vs{ width:44px; vertical-align:middle; margin:0 10px;}
        .minFont{ font-size: 12px; color: #A5A4A4;}
        @include screen(1080px) {  margin-top:20px;
            p{ font-size: 18px;}
            .vs{ width:30px;}
        }
        @include screen(876px) {
            .tip{ top:14px;} 
        }
        @include screen(460px) { margin-bottom: 10px;
            .vs{ width:26px;}
            .tip{ position:relative; top:0;}
            .bg{ display:none;}
            .botImg{ display:none;}
            .botImg.notshow{ display:block;}
        }
    }
    .topScroll{ margin-bottom:80px;
        .line{ width:16.7%; }
        .list{ width:16.7%; cursor:pointer;
            .img{ border-radius:50%; overflow: hidden; position:relative;
                p{ font-size:14px; color:#fff; position:absolute; bottom:33px; width:100%; text-align: center; }
                span:before{ font-family:'quaker'; color:#fff; font-size:12px; content:'\e901'; margin:0 5px;}
                img{ @extend %trfast;}
            }
            :hover img{ transform:rotate(-3deg);}
            .time{ margin-top:10px; text-align:center;
                .green{ font-size:16px; color:#115598; font-weight:bold; display:inline-block; }
                .red{ font-size:16px;  color:#8C161F; font-weight:bold; display:inline-block; margin-left:6px; text-transform: uppercase; }
                p{ font-size:12px; color:#a5a4a4; text-transform: uppercase; font-weight:bold; line-height:1.2;}
            }
        }
        @include screen(1080px) { margin-bottom:50px;
            .list{ width:31%; margin-bottom: 20px;}
            .line{ width:31%;}
        }
        @include screen(460px) { margin-bottom: 20px; padding:0 3%;
            .list .img p{ font-size:12px; bottom:28px;}
            .list,.line{ width:46%;}
        }
    }
    .comLayer{ margin-bottom:80px;
        .tip{ position: relative; padding-bottom: 10px; line-height: 1;
            p{font-size: 24px; color: #002345; z-index: 10; position: relative; margin-bottom:6px;}
            b{ z-index: 10; position: relative; font-size:16px; display:inline-block; vertical-align:middle; color: #002345;}
            .iconx{ font-family:'quaker'; margin:0 10px; display:inline-block;
                &:before{ content:'\e901'; font-size:21px; color:#9C2730; line-height: 1;}
            }
            img{ width:417px; position:absolute; left:0; bottom:0; }
            @include screen(1080px) { 
                p{ font-size:18px;}
                .iconx:before{ font-size:16px;}
                img{ width:353px;}
            }
            @include screen(876px) { padding-bottom:0;
                img{ width:238px; }
            }
        }
        @include screen(460px) { margin-bottom:30px; 
            .tip img{ display:none;}
        }
    }
    .fbVideo{ margin-top:30px; position:relative;
        iframe{ width:100%; height:607px;
            @include screen(1024px) { height:576px; }
            @include screen(768px) { height:432px; }
            @include screen(430px) { height:238px; }
            @include screen(375px) { height:210px; }
        }
        @include screen(460) { margin-top:10px; iframe{ height:259px;} }
    }
    .redLine{ border-bottom:5px solid #9C2730; background:url(../img/quaker/t_min.png) no-repeat 95% 95.6%;
         &.recipeBox .cont .title p{ color:#9C2730;}
    }
    .greenLine{ border-bottom:5px solid #115598; }
    .recipeBox{ background-color:#fff; display:block; margin-top:50px; position:relative; overflow: hidden;
        .left{ float:left;}
        .right{ position:absolute; right:0; height:100%; }
        .bigImg{ width:50%; font-size:0;}
        .cont{ width:50%; padding:36px 30px 0px 49px; overflow: hidden;
            .start{ position:absolute; right:30px; top:0; width:38px; @extend %trfast;}
            .start:hover{ transform:scale(1.1);}
            .title{ padding:19px 0; text-align: center; position:relative; margin-top:12px; margin-bottom:40px;
                p{ font-size: 26px; color:#0b3661; position:relative; z-index: 10; font-weight:bold;}
                img{ position:absolute; top:0; left:0; right:0; margin:auto;}
            }
            .cenbg{ text-align: center; padding-top: 10px; }
            .cenbg_a img{ width:80%; }
            .cenbg_e { margin-left:-10.8%; text-align:left;
                img{ width:52.8%; }
            }
            .cenbg_c{ margin-top:10px;
                img{ width:45%;}
            }
            .cenbg_d{
                img{ width:76%; }
            }
        }
        .info{ margin-top:22px;
            &.bigFont p{ font-size:18px;}
            b{ font-size:18px; color:#000; margin-left: 6px; padding-bottom:5px; display:inline-block;}
            b.nomargin{ margin-left: 0;}
            p{ font-size:14px; color: #616161; line-height:1.71; text-align:left;}
            p.min{  font-size:12px; color:#A5A4A4;}
            .pros{ margin-top:6px;}
        }
        .iconInt:before{ font-size:16px; color:#000; font-family:'quaker'; content:'\e900';}
        .icon:before{ font-size:18px; color:#000;} 
         @include screen(1024px) {
            .right{ background:#fff;}
            .cont{ overflow-y:scroll; }
         }
         @include screen(876px) {  margin-top:8px;  
            .bigImg{ width:100%; text-align: center; overflow:hidden;}
            .bigImg img{ width:100%; }
            .right{ position:relative;}
            .cont{ width:100%; padding:10px 20px 0px 20px; 
                .title{ margin-bottom: 20px; text-align: left; padding:13px 0;
                    img{ left:0; right:inherit; width:260px;}
                }
            }
         }
         @include screen(460px) {
            .cont{
                .title{ margin-top: 0; margin-bottom: 0;}
                .title p{ font-size:18px;}
                .title img{ display:none;}
                .cenbg{ margin-top: 0; margin-bottom: 0; font-size: 0;}
                .cenbg_a img{ width:80%; }
                .cenbg_e { 
                    img{ width:50%; }
                }
                .cenbg_c{ margin-top:10px;
                    img{ width:50%;}
                }
                .cenbg_d{
                    img{ width:50%; }
                }
            }
            .info{ margin-top: 15px;
                b{ font-size:16px;}
                &.bigFont p{ font-size:14px;}
            }
         }
    }
    .copyright{ font-size:12px; font-size:12px; color:#a5a4a4; text-align: center; padding-bottom:5px; display:none;
        @include screen(876px) { display:block; margin-top:20px;}
    }
}

@-webkit-keyframes rotateInAdd{
    0%{ -webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg); }
    100%{-webkit-transform:rotate3d(0,0,1,225deg);transform:rotate3d(0,0,1,225deg);}
}
@keyframes rotateInAdd{
    0%{ -webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg); }
    100%{-webkit-transform:rotate3d(0,0,1,225deg);transform:rotate3d(0,0,1,225deg);}
}
.rotateInAdd{-webkit-animation-name:rotateInAdd;animation-name:rotateInAdd;}


@-webkit-keyframes rotateOutAdd{
    0%{ -webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg); }
    100%{-webkit-transform:rotate3d(0,0,1,270deg);transform:rotate3d(0,0,1,270deg);}
}

@keyframes rotateOutAdd{
    0%{ -webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg); }
    100%{-webkit-transform:rotate3d(0,0,1,270deg);transform:rotate3d(0,0,1,270deg);}
}
.rotateOutAdd{-webkit-animation-name:rotateOutAdd;animation-name:rotateOutAdd}

#quakerScroll{ position:fixed; right:20px; top:30%; z-index: 9999; display:none;
    .list{ width:40px; height:40px; line-height: 40px; text-align: center; margin-bottom:15px; border-radius:50%; background-color:#e5cb8f; cursor:pointer; position:relative; overflow: hidden;
        &:before{ font-size:20px; color: #C19E4C; font-family:'quaker'; @extend %trfast;} 
        img{ position:absolute; width:100%; height:100%; left:0; top:0; @extend %trfast; margin-left:-110%;}
        &.active img,&:hover img{ margin-left: 0;}
        &.active:before{ margin-left: 110%;}
        &:hover:before{ margin-left:110%;}
        &.slideThis{ display:none;
            img{ margin-left: 0; width:70%; height:70%; top:15%; left:15%; }
        }
     } 
    .list_aa:before{ content:'\e903';}
    .list_bb:before{ content:'\e904';}
    .list_cc:before{ content:'\e905';}
    .list_dd:before{ content:'\e906';}
    .list_ee:before{ content:'\e907';}
    .list_ff:before{ content:''; border-bottom:12px solid #C19E4C; border-left:8px solid transparent;  border-right:8px solid transparent; width:0; height:0; position:absolute; top:13px; left:12px;
    }
    .list_ff:hover:before{ margin-left: 0;}
     @include screen(1080px) { right:2%; top:25%;
        .list.slideThis{ display:block;}
     }
}