@charset "utf-8";
body { @extend %fontPFN;  line-height:1.5714; background-color:#fff; font-size:$BodySize; overflow-x:hidden; }
#container{ width:100%; max-width:100%; margin:0 auto; position:relative; overflow-x: hidden;}

.center{ width:980px; max-width:100%; margin:0 auto; position:relative; 
    @include screen(990px) { max-width:97%;}
}

@keyframes wave {
    0%,100% {background-position:0 0; background-size:100% 100%;}
    50% { background-position:-5px -5px; background-size:102% 101%; }
}
@-webkit-keyframes wave {
    0%,100% {background-position:0 0; background-size:100% 100%;}
    50% { background-position:-5px -5px; background-size:102% 101%; }
}
@-moz-keyframes wave {
    0%,100% {background-position:0 0; background-size:100% 100%;}
    50% { background-position:-5px -5px; background-size:102% 101%; }
}
@-o-keyframes wave {
    0%,100% {background-position:0 0; background-size:100% 100%;}
    50% { background-position:-5px -5px; background-size:102% 101%; }
}

@keyframes roll1{
    0%,100%{ margin: 0; transform: rotate(0); }
    50%{ margin:-3px 0px 0 3px; transform: rotate(10deg); }
}

@-webkit-keyframes roll1{
    0%,100%{ margin: 0; transform: rotate(0); }
    50%{ margin:-3px 0px 0 3px; transform: rotate(10deg); }
}

@-moz-keyframes roll1{
    0%,100%{ margin: 0; transform: rotate(0); }
    50%{ margin:-3px 0px 0 3px; transform: rotate(10deg); }
}

@-o-keyframes roll1{
    0%,100%{ margin: 0; transform: rotate(0); }
    50%{ margin:-3px 0px 0 3px; transform: rotate(10deg); }
}

@keyframes roll2{
    0%,100%{ top:0.8%; transform: rotate(0) scale(1);}
    50%{ top:0.82%; transform: rotate(-20deg) scale(0.95); }
}
@-webkit-keyframes roll2{
    0%,100%{ top:0.8%; transform: rotate(0) scale(1);}
    50%{ top:0.82%; transform: rotate(-20deg) scale(0.95); }
}
@-moz-keyframes roll2{
    0%,100%{ top:0.8%; transform: rotate(0) scale(1);}
    50%{ top:0.82%; transform: rotate(-20deg) scale(0.95); }
}
@-o-keyframes roll2{
    0%,100%{ top:0.8%; transform: rotate(0) scale(1);}
    50%{ top:0.82%; transform: rotate(-20deg) scale(0.95); }
}


@keyframes move1{
    0%,100%{margin: 0; transform: rotate(0); }
    50%{margin: -20px 0 0 0px; transform: rotate(60deg); }
}
@-webkit-keyframes move1{
    0%,100%{margin: 0; transform: rotate(0); }
    50%{margin: -20px 0 0 0px; transform: rotate(60deg); }
}
@-moz-keyframes move1{
    0%,100%{margin: 0; transform: rotate(0); }
    50%{margin: -20px 0 0 0px; transform: rotate(60deg); }
}
@-o-keyframes move1{
    0%,100%{margin: 0; transform: rotate(0); }
    50%{margin: -20px 0 0 0px; transform: rotate(60deg); }
}

@keyframes move2{
    0%,100%{ transform: rotate(0) scale(1); }
    50%{ transform: rotate(-360deg) scale(0.9); margin: 0px -50px -40px 0px; }
}

@keyframes move3{
    0%,100%{ margin:0; }
    50%{ margin: 0px 0px -70px 0px; }
}
@-webkit-keyframes move3{
    0%,100%{ margin:0; }
    50%{ margin: 0px 0px -70px 0px; }
}
@-moz-keyframes move3{
    0%,100%{ margin:0; }
    50%{ margin: 0px 0px -70px 0px; }
}
@-o-keyframes move3{
    0%,100%{ margin:0; }
    50%{ margin: 0px 0px -70px 0px; }
}

@keyframes move4{
    0%,100%{ margin:0; transform: rotate(0); }
    50%{ margin: 0px 0 80px 0px; transform: rotate(60deg); }
}
@-webkit-keyframes move4{
    0%,100%{ margin:0; transform: rotate(0); }
    50%{ margin: 0px 0 80px 0px; transform: rotate(60deg); }
}
@-moz-keyframes move4{
    0%,100%{ margin:0; transform: rotate(0); }
    50%{ margin: 0px 0 80px 0px; transform: rotate(60deg); }
}
@-o-keyframes move4{
    0%,100%{ margin:0; transform: rotate(0); }
    50%{ margin: 0px 0 80px 0px; transform: rotate(60deg); }
}


@keyframes roll3{
    0%,100%{  transform: rotate(0);}
    50%{ transform: rotate(-2deg); }
}

@-webkit-keyframes roll3{
    0%,100%{  transform: rotate(0);}
    50%{ transform: rotate(-2deg); }
}
@-moz-keyframes roll3{
    0%,100%{  transform: rotate(0);}
    50%{ transform: rotate(-2deg); }
}
@-o-keyframes roll3{
    0%,100%{  transform: rotate(0);}
    50%{ transform: rotate(-2deg); }
}

.logo{ background-color:#fff; max-width:122px; padding:15px 22px; position:absolute; left:9%; top:0; z-index:10;
    @include screen(1680px) { max-width: 100px; }
    @include screen(420px) { max-width:55px; padding:5px; left:0px;}
}

.header{ background-color:#fffae4; text-align: center; margin-bottom: -350px; 
    .top_all{ z-index: 6; position:relative; width:95%; max-width:1776px;}
    .top_a{ position:absolute; width:77px; left:13%; top:2%;
         animation:roll1 6s 50; 
         -webkit-animation:roll1 6s 50; 
         -moz-animation:roll1 6s 50; 
         -o-animation:roll1 6s 50; 
    }
    .top_b{ position:absolute; width:93px; right:18%; top:0.8%; 
        animation:roll2 8s 50; 
        -webkit-animation:roll2 8s 50; 
        -moz-animation:roll2 8s 50; 
        -o-animation:roll2 8s 50; 
    }
    @include screen(1680px) { margin-bottom: -280px;
        .top_all{ width:80%; }
        .top_a{ width:60px; top:1.2%; }
        .top_b{ width:60px; }
    }
    @include screen(1440px) { margin-bottom:-276px; 
        .top_all{ width:90%;}
    }
    @include screen(1024px) { margin-bottom:-190px; }
    @include screen(420px) { margin-bottom: -80px;
        .top_all{ width:120%; margin-left: -10%;  max-width:120%; }
        .top_a{ width:30px; top:100px; left:2%;}
        .top_b{ width:30px; right:50px; top:0.6%;}
    }
}

.giftList{ background:#fffae4 url(../img/wave.jpg) no-repeat left top; padding-top:433px;  padding-bottom:300px; background-size:100% 100%; 
    animation:wave 4s 50; 
    -webkit-animation:wave 4s 50;
    -moz-animation:wave 4s 50;  
    -o-animation:wave 4s 50; 
    .info{ padding:0 7%; font-size:18px; color:#000; line-height: 1.8; letter-spacing: 1.5px; position:relative; z-index: 20;
        span{ color:#ffe400;}
    }
    .what{ text-align: center; margin-top:90px; margin-bottom:90px;
        img{ width:50%;}
    }
    .swin_1,.swin_2,.swin_3,.swin_4{ position:absolute; z-index:1;}
    .swin_1{ left:-28%; top:-60px; 
        animation: move1 15s 50;
        -webkit-animation: move1 15s 50;
        -moz-animation: move1 15s 50;
        -o-animation: move1 15s 50;
    }
    .swin_2{ right:-21%; top:220px; 
        animation: move2 15s 50;
        -webkit-animation: move2 15s 50;
        -moz-animation: move2 15s 50;
        -o-animation: move2 15s 50;
    }
    .swin_3{ right:-21%; bottom:15%;
        animation:move3 20s 50; 
        -webkit-animation:move3 20s 50; 
        -moz-animation:move3 20s 50; 
        -o-animation:move3 20s 50; 
    }
    .swin_4{ left:-26%; bottom:-4%;
        animation:move4 15s 50; 
        -webkit-animation:move4 15s 50; 
        -moz-animation:move4 15s 50; 
        -o-animation:move4 15s 50; 
    }
    @include screen(1680px) { padding-top:300px; }
    @include screen(1440px) { padding-top:280px;  padding-bottom:200px;
        .info{ font-size:16px; padding:0 13%;}
        .swin_1{ left:-12%; top:-60px; width:120px;}
        .swin_2{ right:-11%; top:220px; width:100px;}
        .swin_3{ right:-9%; bottom:15%; width:120px;}
        .swin_4{ left:-9%; bottom:-4%; width:120px;}
    }
    @include screen(1024px) {
        .swin_1{ left:2%; }
        .swin_2{ right:2%; }
        .swin_3{ right:2%;}
        .swin_4{ left:1%; }
    }
    @include screen(768px) { padding-top: 220px; padding-bottom:100px;
        .what{ margin-top:40px;}
        .swin_1{ width:80px; }
        .swin_2{ width:80px; }
    }
    @include screen(460px) { background:#fffae4 url(../img/wave_s.jpg) no-repeat left top;
        padding-top: 100px;
        .info{ font-size: 14px; padding:0 10px; }
        .what{ margin-bottom: 20px; margin-top:20px;
            img{ width:60%; }
        }
        .swin_1{ width:50px;}
        .swin_2{ width:30px; right:1%; top:190px; }
        .swin_3{ width:60px; }
        .swin_4{ width:60px; }
    }
}

.listBox{ padding:0 3%;
    .list{ background-color:#fff; width:29%; border-radius:10px; margin-bottom:60px; text-align: center; padding:15px; display:inline-block; vertical-align: top;
        .top{ img{ width:65%;} }
        .img{ margin-top: 15px; margin-bottom: 10px; border:1px solid #f2f2f2; border-radius:3px; overflow:hidden; }
        .name{ font-weight: bold; font-size:16px;}
        .more{ padding:0 10px;}
        .price{ font-size:14px;}
        .join{ color:#fff; background-color:#49b4e8; padding:2px 24px; font-size:12px; border-radius:20px; }
    }
    &.centerBox{ text-align: center; }
    @include screen(1440px) { 
        padding:0 2%;
    }
    @include screen(740px) { padding:0px;
        .list{ width:49%; margin-bottom: 20px; padding:10px;
            .name{ font-size:12px; font-weight:normal; }
            .price{ font-size: 10px;}
            .join{ padding:2px 10px; font-size:10px;}
        }
    }
    @include screen(460px) {
        .list{ padding:8px 5px;
            .top img{ width:50%; }
            .img{ margin-top: 6px; }
        }
    }
}

.joinTxt{ position:relative;  background:#fffae4;
    &:before{ content:''; width:100%; font-size:0; height:183px; background:url(../img/wave_y.png) no-repeat left top; position:absolute; top:-183px; left:0; background-size:contain; background-position: 0 100%;}
    .center{ text-align: center;  padding-bottom:330px; padding-top: 100px;}
   img{ display:inline-block; vertical-align: middle; }
   .gift{ width:28%; margin-right: 2%;}
   .txt{ width:43%;}
   .crab{ width:155px; position:absolute; top:-70px; right:-20%;
        -webkit-animation:roll3 1s 100; 
        -moz-animation:roll3 1s 100; 
        -o-animation:roll3 1s 100; 
        animation:roll3 1s 100; 
   }
    @include screen(1680px) { 
        .center{ padding-bottom:280px; padding-top:60px; }
        .gift{ width:20%; }
        .txt{ width:30%; }
    }
    @include screen(1440px) {
        .crab{ width:100px; right:-6%;}
    }
    @include screen(1024px) {
        .center{ padding-bottom: 200px; padding-top: 20px;}
        .gift{ width:17%;}
        .txt{ width:25%;}
        .crab{ right:2%; }
    }
    @include screen(460px) {
        .center{ padding-bottom: 20px;}
        .crab{ width:50px; top:0px;}
        .gift{ width:20%;}
        .txt{ width:30%;}
    }
}


.commonLayer{  
    &.ggg .step{ padding-bottom:200px;}
    &.show{ 
        .info{ padding-bottom: 100px;}
        .step{ display:block; }
    }
    .topLay{ margin-top:-150px; margin-bottom: 50px;
        > div{ width:33%;}
        .time{ display:inline-block; vertical-align: top; position:relative; text-align:center; 
            img{ width:130px;}
            &:after{ content:''; width:2px; height:170px; background-color:$color; position:absolute; top:128%;left:45%;transform:rotate(-30deg); -webkit-transform:rotate(-30deg); -o-transform:rotate(-30deg); transform-origin:50% 0%; -o-transform-origin:50% 0%; -webkit-transform-origin:50% 0%;}
        }
        .img{ display:inline-block; text-align: center;}
        .title{ display:inline-block; vertical-align: bottom; text-align: left; padding-bottom:20px; padding-left: 40px;
            b{ font-size:20px; line-height: 1.2; margin-bottom:10px;}
            p{ font-size:16px;}
        }
    }
    .imgBox{ padding:0 2.4%;
        img{ float: left; width:33.333333%; }
    }
    .info{ padding-bottom:100px;
        .txt{ padding:32px 8%; 
            p{ line-height:1.9; font-size:16px; color:#342b2b; margin-bottom:10px; }
        }
    }
    .step{ background-color:#fffae4; padding-bottom:400px; 
        .stepList{ padding:0 5%;}
        .round{ width:112px; height:112px; border-radius:100%; overflow: hidden; background-color:$color; font-size:15px; color:#fff; text-align: center; padding:10px 10px; margin:0 auto; margin-bottom:0px; position:relative; top:-56px;
            &.min{ padding:20px 10px;
                p{ font-size:18px;}
            }
            p{ line-height: 1.1; padding:8px 0;
                &:first-child{ border-bottom:2px dashed #fff; }
            }
        }
        .winner{ 
            ul{ display:inline-block; vertical-align: top;
                li{ font-size:16px; margin-bottom:10px; text-align:left;}
            }
        }
        .list{ width:24%; text-align: center; vertical-align: top;}
        .dot{ width:10%; text-align: center; padding-top: 104px;
            span{ width:12px; height:12px; border-radius:50%; background-color:#a4d7e6; display:inline-block; margin:0 7px;}
        }
        .top{ text-align:center; margin-bottom:20px; 
            img{ width:80px;}
        }
        .img{ height:120px; margin-bottom:20px;
            img{ vertical-align: middle; max-width:80px;}
            &.tada img{ max-width:62px;}
            &:after{ content:''; display:inline-block; vertical-align: middle; width:0px; height:100%; overflow:hidden;}
        }
        .txt{ font-size:16px; text-align:center; color:#333;
            a{ color:#000; display:inline; @extend %trfast;}
            a:hover{ color:$color;}
            b{ font-weight: bold; color:$color;}
        }
    }
    @include screen(1440px) {
        .topLay {
            .time { padding-left:100px;
                img{ width:90px; }
                &:after{ content:''; height:160px; left:65%;}
            }  
            .title{ padding-left:20px;}
        }
    }
    @include screen(1280px) {
       .step{ padding-bottom: 300px;}
    }
    @include screen(768px) {
        &.ggg .step{ padding-bottom:100px;}
        .step{
           .winner{ 
                ul{ margin-bottom:0px; width:46%; margin-left: 2%;}
                ul li{ font-size:14px;}
           }
        }
    }
    @include screen(460px) {
        .topLay{ margin-top: 20px; margin-bottom:10px;
            .time{ position: absolute; left: 10px; top: 0; padding-left: 0; width:60px;
                img{ width:100%;}
                &:after{ display:none;}
            }
            .img{ width:50%; display:block; margin:auto;}
            .title{ width:100%; padding-left: 0; text-align: center; 
                b{ font-size:16px;}
                p{ font-size:13px;}
            }
        }
        .imgBox{ padding: 0}
        .info{ padding-bottom: 70px;
            .txt{ padding:10px; font-size: 14px;
                p{ font-size: 14px;}
            }
        }
        .step{ padding-bottom: 20px;
            .stepList{ padding:0;}
            .list{ width:100%; text-align: left; margin-bottom:30px;}
            .top{ text-align:left; margin-bottom: 10px; 
                img{ width:60px; }
            }
            .dot{ display:none; }
            .img{ display:none;}
            .txt{ text-align: left; font-size:15px;}
        }
        &.ggg .step{ padding-bottom:50px;}
    }
}

.footer{ background-color:#fffae4; font-size:0; text-align: center; position:relative; padding-bottom: 20px;
    .ftsun{  z-index: 1; position:relative; width:65%;}
    .footerAnt{ position:absolute; left:0; bottom:0; width:100%; max-height:440px; }
    @include screen(1680px) {
        .footerAnt{ height:300px;}
        .ftsun{ width:60%; }
    }
    @include screen(1440px) {
         .ftsun{ width:70%; }
    }
    @include screen(768px) {
        .footerAnt{ height:200px; }
    }
     @include screen(640px) {
        .ftsun{ width:100%; }
        .footerAnt{ max-width:400%; width:400%; height:150px; }
    }
}


#footer{ margin-top:0px; padding:30px 45px 10px 45px;
    .box{ width:48%; font-size:14px; color:#A5A4A4; margin-bottom: 20px;}
    .share a{ display:inline-block; width:32px; margin-left: 10px; font-size:0;}
    p{ font-size: 14px; color:#A5A4A4; margin-bottom:10px;}
    input[type=text]{ width:210px; height:34px; padding: 0 10px; border:1px solid #e1e1e1; }
    input[type=button]{ width:72px; height:34px; color:#fff; background-color: #A5A4A4; border:0px none; margin-left: -5px;}
    ul{ display:inline-block;}
    li{ float: left;
        a{ display:block; color:#A5A4A4; font-size:12px; margin-right: 15px; text-transform:uppercase;}
    }
    li:hover a{ color:$color;}
    .copyright{ font-size: 12px; text-align:right;}
    @include screen(876px) { padding:20px; display:none;
        .box{ width:100%; }
        .txtRight{ text-align:left; }
        img{ margin-left: 0; margin-right: 10px;}
        .copyright{ text-align:left;}
    }
}

#menuRight{ position:fixed; z-index: 999; right:40px; top:20%; opacity:0.85; @extend %trfast;
    &:hover{ opacity:1;}
    .leftDay{ font-size:22px; font-weight: bold; margin-bottom:16px; cursor:pointer; text-align: center; width:42px;} 
    .slideObj .list{ width:42px; height:28px; background-color:$color; color:#fff; font-size:18px; text-align: center; border-radius:6px; overflow:hidden; line-height:29px; margin-bottom: 18px; cursor:pointer; position:relative; border:2px solid $color;
        &.active{ background-color: #fff; color:$color; }
    }
    .scrollTop:after{ content:''; width:0; height:0; position:absolute; top:8px; left:9px; border-bottom:10px solid #fff; border-left:10px solid transparent; border-right:10px solid transparent;}
    @include screen(990px) { right:10px; top:20%;
        .leftDay{ background-color: $color; border-radius:10px; margin-bottom: 5px; font-size:18px; line-height: 1; color:#fff; padding:6px 0}
        .slideObj .list{ margin-bottom:6px; font-size:14px;} 
    }
}

.mobileCpy{ display:none; font-size:12px; text-align: center; padding:10px 0;
     @include screen(990px) { display:block; }
}



