@charset "utf-8";
body { @extend %fontNl;  line-height:1.5714; background-color:#fff; font-size:$BodySize; }
table{ width:100%; color:#616161;}
thead{ background-color:#efefef;}
td{ text-align: center; padding:4px; border:1px solid #ddd; }

.mintable { 
    table{width:48%; float: left;}
    table:first-child{ margin-right: 4%;}
}

@include screen(1024px) {
    td{ font-size:10px;  white-space:nowrap;}
    .iconfont{ font-size:12px;}
    .mintable table{ width:100%; float:none; }
}

#nav{ position:fixed; z-index: 99999; left:0; top:0px; width:10%; height:100%; background-color:#fff; border-right:1px solid #ddd;
    a{ display:block; font-size:16px; padding:23px 10px; text-align:left; color:#fff; cursor:pointer; font-weight:bold; background-color:#18a396;} 
    a.active{ color:#fff; }
    li{ display:block; font-size:14px; padding:15px 0 15px 10px; text-align:left; color:#333; border-bottom:1px solid #ddd; cursor:pointer;}
    li.active{ background-color:#000; color:#fff; }
    @include screen(1024px) { position:fixed; top:45px; right:10px; z-index:9999; left:inherit; height:auto; width:200px; border-radius:3px;  border:1px solid #ddd; display:none;
        a{ padding:10px; }
        li{ padding:10px;}
    }
}

#moblieMenu{ position:fixed; right:10px; top:10px; border-radius:4px; background-color:#18a396; color:#fff; font-size:21px; width:35px; height:35px; font-weight: bold; z-index:999999!important; text-align: center; cursor:pointer; display:none;
      @include screen(1024px) { display:block; }
}

#aloneTop{ border-bottom:1px solid #ddd; position:fixed; top:0; left:0; width:100%; z-index: 991;
    padding:14px 20px; background-color:#fff; 
    .box{ color:#18a396; font-size:14px; font-weight:bold;
        a{ color:#18a396; }
    }
    @include screen(640px) {
        .box{ width:100%; }
        .box:last-child{ text-align:right; }
    }
}

#gotop{ cursor:pointer; position:fixed; width:40px; height:40px; line-height: 40px; color:#616161; border: 1px solid #E1E1E1; font-size:14px; text-align:center; background-color:#fff; bottom:2%; right:16px; border-radius:50%; @extend %trfast; display:none; margin:10px auto; z-index: 99999;
    &:before { content:"Top"; display:block; text-align:center; background-image:none; font-size:12px; color:#616161;}
}

#container{ margin:0 auto; padding-bottom: 20px; width:90%; margin-left: 10%;
    &.big{ margin-left: 0; width:100%; margin-top:50px;}
    @include screen(1024px) { width:100%; margin-left: 0;}
}

.mainWrap{ width:100%; position:relative; padding-bottom:100px;
    .unit{ position:absolute; left:16px; top:36px; color:#616161; text-align:center;
        b{ display:block; font-size:16px}
        span{ font-size: 12px;}
    }
    &:first-child .tool{ border-top:0px none;}
    @include screen(1024px) { padding-bottom:40px; }
}

.tool{ z-index: 999;  @include Lgradient(#f8f8f8,#efecec); padding:12px 20px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; 
    .title{ font-size:16px; color:#000;}
    ul{ border:1px solid #bbb; background-color:#f4f4f4; border-radius:3px; border-left:0px none; cursor:pointer; font-size:16px; margin-right:4px; display:inline-block; vertical-align:middle; }
    li{ float: left; width:60px; padding:3px 0; color: #616161;font-size: 14px; border-left:1px solid #bbb; text-align: center; }
    li.active{ background-color:#18a396; color:#fff;
        span:before{ color:#fff;}
    }
    .timeStr{ font-size:14px; color:#616161; display:inline-block; vertical-align: middle; line-height:1.48; border-radius: 2px;
        input{ background-color:#f5f5f5; width:92px; font-size:14px; text-align:center; border:1px solid #bbb; padding:3px 5px; border-radius:3px;}
        .active{ border-color:#000;}
    }
    .icon-help{ color:#666; display: inline-block; vertical-align: middle; cursor:pointer;}
    @include screen(640px) { padding:10px; background:#f5f5f5;
        .title{ font-size:12px; font-weight:bold;}
        li{ font-size: 10px; width:33.33%;}
        ul{ margin-bottom: 10px; width:100%;}
        .box{ margin-top: 10px; width:100%;}
        .viewList ul{  width:88%; vertical-align:top;}
        .timeStr{ border-radius:3px; width:100%; 
            .hengxian{ margin:0 40px;}
        }
    }
}   

.checkbox{ text-align: center; position:relative; 
    label{ @include ismiddle; color:#616161; margin-right: 10px;}
    input{ margin-right: 2px; vertical-align:middle;}
}

#chart_a1,#chart_a2,#chart_b1,#chart_b2,#chart_c1,#chart_c2,#chart_d1,#chart_d2,#chart_recipeAll{ width:100%; height:100%;}

.tagCont{ position:relative; min-height:500px; width:100%; background-color:#fff; margin-bottom:10px;
    .overflow{ overflow-y:scroll; padding-bottom: 10px;}
    .tagbox{ position:absolute; left:2%; top:0; padding:10px; height:100%; width:96%; opacity:0; z-index: 1;}
    .tagbox.active{ z-index: 99; opacity: 1;}
    table{ margin: 20px 0;}
    @include screen(1024px) { min-height:300px;}
}

.help{ position:fixed; width:400px; height:300px; left:0; top:0; right:0; bottom:0; background-color:#fff; box-shadow:0px 0px 3px rgba(0,0,0,0.3);  display:none; border-radius:4px; z-index: 999999; margin:auto; padding:20px;
    .icon-close{ position:absolute; right:10px; top:8px; font-size: 18px;}
    .info{ display:inline-block; vertical-align: middle; text-align:left; margin-top: 10px;
        p{ margin-bottom:10px; color:#777; font-weight: bold; line-height: 1.5;}
        p:first-child{ margin-left: -8px;}
    }
    &:after{ content:''; width:0px; height:100%; display:inline-block; vertical-align: middle;}
    @include screen(640px) {width:96%; margin-left: 2%; }
}

.moTomo{ width:96%; margin-left: 2%; margin-top: 20px; 
    .mobileOver{ position:relative; }
    .title{ margin-bottom:10px; font-weight:bold; color:#777;}
    .nobg{ width:78%;
        thead{ background-color:transparent; border-bottom: 1px solid #ddd;}
        td{ border:0px none;}
        tr:first-child td{ padding-top:20px;}
        tr:last-child td{ padding-bottom:20px;}
    }
    .bety{ width:22%; position:absolute; right:0; top:0; height:100%;
        > div{ height:33.333%; color:#fff; text-align: center; padding-top:30px;
            .inline{ display:inline-block;vertical-align:middle;}
            .big{ font-size:22px;}
        }
        .blue{ background-color:#599aee;}
        .green{ background-color:#5eca7c;}
        .red{ background-color:#f35550;}
    }
    .bold{ font-weight: bold; font-size:20px; }
    .topten{ display:none; margin-top:30px;
        .hand{ cursor:pointer; color:#0202e0;}
        .sortThis{ color:#e00202;}
    }
    @include screen(1024px) {
        .mobileOver{ overflow-x:scroll; padding-bottom:10px; padding-right:10px;}
        .nobg{ width:100%;
            tr:last-child td{ padding-bottom: 0;}
        }
        .bold{ font-weight:14px;}
    }
    @include screen(640px) {
        table{ width:200%;}
        .bety{ position:relative; width:100%; top:inherit; right:inherit; height:auto;
            >div{ padding: 10px;}
            >div .big{ font-size:14px; }
        }
    }
}

.spanColor{
    span{ color:#0202e0;}
    .red{ color:#e00202;}
}

#popshow{ width:200px; padding:20px; background:rgba(0,0,0,0.9); color:#fff; text-align: center; height:100px; position:fixed; top:0; left:0; bottom:0; right:0; margin:auto; z-index: 999; border-radius:6px; display:none;
    span{ display:inline-block; width:30px; height:30px; border:1px solid #a71111; border-radius:50%; line-height: 30px; text-align: center; margin-bottom: 10px; color:#fff;}
}

.searchRecipe{ margin-top: 20px; float: right;
    input{ background-color:#f2f2f2; font-size:14px; text-align:left; padding-left: 4px; border:1px solid #bbb; padding:3px 5px; border-radius:3px; vertical-align: middle; }
}

.searchBtn{ padding:3px 15px; display:inline-block; border-radius:2px; background-color:#18a396; color:#fff; vertical-align:middle; margin:10px;}

.recipeInfo{ margin-bottom: 30px;
    li{ display:inline-block; font-size:15px; margin-right:30px;}
}

.pagination{ font-size:12px; width:98%; margin:10px 0 0 0; padding:13px 1%; text-align:right; color:#666; overflow:hidden;
    span,a,input{ display:inline-block; padding:5px 10px; border:1px solid #ddd; color:#666; background-color:#fefefe; margin:3px;}
    input{ width:40px; padding:5px 3px 5px 0; text-align:center;}
    .num{ display:none; }
    .currentPage{ color:#f00;}
    .prevPage,.nextPage,.pageBreakMin,.pageBreakMore{ display:none;}
    .show{ display:inline-block;}
}

