<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<title>Dashboard - DayDayCook日日煮</title>
		<link rel="stylesheet" type="text/css" href="css/main.css?v=201706016">
		<link rel="stylesheet" type="text/css" href="css/jedate.css">
	</head>
	<body>
		<div id="nav">
			<div class="navSon toShopLayer">
				<a href="#" class="active"> 电商数据 </a>
				<ul class="shoptag clearfix">
					<li data-id="aaa" class="toaaa active">指标单图</li>
					<li data-id="bbb" class="tobbb">交易概况</li>
					<li data-id="ccc" class="toccc">周期数据</li>
				</ul>
			</div>
			<div class="navSon toRecipeLayer">
				<a href="#"> 菜谱数据 </a>
				<ul class="shoptag clearfix">
					<li data-id="ddd" class="toddd">菜谱统计</li>
					<li data-id="eee" class="toeee">累计菜谱日报</li>
					<li data-id="fff" class="tofff">菜谱统计详情</li>
				</ul>
			</div>
		</div>
		<div id="moblieMenu">⥮</div>
		<div id="container">
			<!-- 指标单图 交易额变化数据-->
			<div id="aaa" class="mainWrap">
				<div class="tool justify" data-type="0">
					<div class="title box">交易额变化数据</div>
					<div class="box">
						<ul class="time time_a clearfix">
							<li class="active">7天</li>
							<li>14天</li>
							<li>28天</li>
						</ul>
						<div class="timeStr">
							<input id="inpstart_a" type="text" value="" readonly/>
							<span class="hengxian">-</span>
							<input id="inpend_a" type="text" value="" readonly/>
						</div>
					</div>
					<div class="viewList box">
						<ul class="clearfix">
							<li class="active"><span class="iconfont icon-zhexiantu"></span></li>
							<li><span class="iconfont icon-zhuzhuangtu"></span></li>
							<li><span class="iconfont icon-biaoge"></span></li>
						</ul>
						<span class="iconfont icon-help"></span>
						<div class="help">
							<span class="iconfont icon-close"></span>
							<div class="info">
								<p>【交易额变化数据】</p>
								<p>1、图表中是DDC各自平台总交易额变化情况</p>
      							<p>2、曲线数值代表勾选渠道的交易额总和</p>
      							<p>3、可以查询特定时间段内的交易额变化情况</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tagCont">
					<div class="tagbox active">
						<div class="unit">(单位/元)</div>
						<div id="chart_a1"></div>
					</div>
					<div class="tagbox">
						<div class="unit">(单位/元)</div>
						<div id="chart_a2"></div>
					</div>
					<div class="tagbox overflow">
						<table>
							<thead>
								<tr>
									<td>日期</td>
									<td>星期</td>
									<td>累计GMV (元)</td>
								</tr>
							</thead>
							<tbody id="table_a"></tbody>
						</table>
					</div>
				</div>
				<div class="checkbox channel">
					<label>包含渠道:</label>
					<label><input type="checkbox" value="App" name="channel_a" checked />App</label>
					<label><input type="checkbox" value="微信" name="channel_a" checked />微信</label>
					<label><input type="checkbox" value="淘宝" name="channel_a" checked />淘宝</label>
				</div>
			</div>
			<!-- 指标单图 交易额周期对比-->
			<div class="mainWrap">
				<div class="tool justify" data-type="1">
					<div class="title box">交易额周期对比</div>
					<div class="box">
						<ul class="time time_b clearfix">
							<li class="active">7天</li>
							<li>14天</li>
							<li>28天</li>
						</ul>
						<div class="timeStr">
							<input id="inpstart_b" type="text" value="" readonly/>
							<span class="hengxian">—</span>
							<input id="inpend_b" type="text" value="" readonly/>
						</div>
					</div>
					<div class="viewList box">
						<ul class="clearfix">
							<li class="active"><span class="iconfont icon-zhexiantu"></span></li>
							<li><span class="iconfont icon-zhuzhuangtu"></span></li>
							<li><span class="iconfont icon-biaoge"></span></li>
						</ul>
						<span class="iconfont icon-help"></span>
						<div class="help">
							<span class="iconfont icon-close"></span>
							<div class="info">
								<p>【交易额周期对比】</p>
								<p>1、图表中是DDC各自平台每日交易额变化情况</p>
							    <p>2、曲线数值代表勾选渠道的交易额总和</p>
							    <p>3、可以查询特定时间段内的交易额变化情况</p>
							    <p>4、可同比上一周期交易额数值</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tagCont">
					<div class="tagbox active">
						<div class="unit">(单位/元)</div>
						<div id="chart_b1"></div>
					</div>
					<div class="tagbox">
						<div class="unit">(单位/元)</div>
						<div id="chart_b2"></div>
					</div>
					<div class="tagbox mintable overflow clearfix">
						<table>
							<thead>
								<tr>
									<td>日期(当前周期)</td>
									<td>星期</td>
									<td>累计GMV (元)</td>
								</tr>
							</thead>
							<tbody id="table_b1"></tbody>
						</table>
						<table>
							<thead>
								<tr>
									<td>日期(上一周期)</td>
									<td>星期</td>
									<td>累计GMV (元)</td>
								</tr>
							</thead>
							<tbody id="table_b2"></tbody>
						</table>
					</div>
				</div>
				<div class="checkbox channel">
					<label>包含渠道:</label>
					<label><input type="checkbox" value="App" name="channel_b" checked />App</label>
					<label><input type="checkbox" value="微信" name="channel_b" checked />微信</label>
					<label><input type="checkbox" value="淘宝" name="channel_b"  checked />淘宝</label>
				</div>
			</div>
			<!-- 指标单图 用户数据趋势-->
			<div class="mainWrap">
				<div class="tool justify" data-type="2">
					<div class="title box">用户数据趋势</div>
					<div class="box">
						<ul class="time time_c clearfix">
							<li class="active">7天</li>
							<li>14天</li>
							<li>28天</li>
						</ul>
						<div class="timeStr">
							<input id="inpstart_c" type="text" value="" readonly/>
							<span class="hengxian">—</span>
							<input id="inpend_c" type="text" value="" readonly/>
						</div>
					</div>
					<div class="viewList box">
						<ul class="clearfix">
							<li class="active"><span class="iconfont icon-zhexiantu"></span></li>
							<li><span class="iconfont icon-zhuzhuangtu"></span></li>
							<li><span class="iconfont icon-biaoge"></span></li>
						</ul>
						<span class="iconfont icon-help"></span>
						<div class="help">
							<span class="iconfont icon-close"></span>
							<div class="info">
								<p>【用户数据趋势】</p>
								<p>1.浏览次数：统计时间内，浏览所勾选渠道相关页面的浏览次数</p>
								<p>2.浏览人数：统计时间内，浏览所勾选渠道相关页面的浏览人数</p>
								<p>3.下单人数：统计时间内，提交了商品购买界面的用户人数</p>
								<p>4.付款人数：统计时间内，成功付款的订单数对应的用户人数</p>
							</div>
						</div> 
					</div>
				</div>
				<div class="tagCont">
					<div class="tagbox active">
						<div id="chart_c1"></div>
					</div>
					<div class="tagbox">
						<div id="chart_c2"></div>
					</div>
					<div class="tagbox overflow clearfix">
						<table>
							<thead>
								<tr>
									<td>日期(当前周期)</td>
									<td>星期</td>
									<td>浏览次数</td>
									<td>浏览人数</td>
									<td>下单人数</td>
									<td>付款人数</td>
								</tr>
							</thead>
							<tbody id="table_c"></tbody>
						</table>
					</div>
				</div>
				<div class="checkbox channel">
					<label>包含渠道:</label>
					<label><input type="checkbox" value="App" name="channel_c" checked />App</label>
					<label><input type="checkbox" value="微信" name="channel_c" checked />微信</label>
					<label><input type="checkbox" value="淘宝" name="channel_c"  checked />淘宝</label>
				</div>
			</div>
			<!-- 指标单图 购买数据趋势-->
			<div class="mainWrap">
				<div class="tool justify" data-type="3">
					<div class="title box">购买数据趋势</div>
					<div class="box">
						<ul class="time time_d clearfix">
							<li class="active">7天</li>
							<li>14天</li>
							<li>28天</li>
						</ul>
						<div class="timeStr">
							<input id="inpstart_d" type="text" value="" readonly/>
							<span class="hengxian">—</span>
							<input id="inpend_d" type="text" value="" readonly/>
						</div>
					</div>
					<div class="viewList box">
						<ul class="clearfix">
							<li class="active"><span class="iconfont icon-zhexiantu"></span></li>
							<li><span class="iconfont icon-zhuzhuangtu"></span></li>
							<li><span class="iconfont icon-biaoge"></span></li>
						</ul>
						<span class="iconfont icon-help"></span>
						<div class="help">
							<span class="iconfont icon-close"></span>
							<div class="info">
								<p>【购买数据趋势】</p>
								<p>1.下单总数：统计时间内，提交了商品购买界面的商品单数</p>
								<p>2.付款订单数：统计时间内，成功付款的订单总和</p>
								<p>3.商品销量（付款件数）：统计时间内，成功付款的订单中商品件数之和</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tagCont">
					<div class="tagbox active">
						<div id="chart_d1"></div>
					</div>
					<div class="tagbox">
						<div id="chart_d2"></div>
					</div>
					<div class="tagbox overflow clearfix">
						<table>
							<thead>
								<tr>
									<td>周期</td>
									<td>星期</td>
									<td>下单总数</td>
									<td>付款订单数</td>
									<td>商品销量</td>
								</tr>
							</thead>
							<tbody id="table_d"></tbody>
						</table>
					</div>
				</div>
				<div class="checkbox channel">
					<label>包含渠道:</label>
					<label><input type="checkbox" value="App" name="channel_d" checked />App</label>
					<label><input type="checkbox" value="微信" name="channel_d" checked />微信</label>
					<label><input type="checkbox" value="淘宝" name="channel_d"  checked />淘宝</label>
				</div>
			</div>
			<!-- 交易概况 -->
			<div id="bbb" class="mainWrap">
				<div class="tool justify" data-type="4">
					<div class="title box">交易概况</div>
					<div class="box">
						<ul class="time time_e clearfix">
							<li class="active">7天</li>
							<li>14天</li>
							<li>28天</li>
						</ul>
						<div class="timeStr">
							<input id="inpstart_e" type="text" value="" readonly />
							<span class="hengxian">—</span>
							<input id="inpend_e" type="text" value="" readonly />
						</div>
					</div>
					<div class="box">
						<div class="checkbox channel">
							<label>包含渠道:</label>
							<label><input type="checkbox" value="App" name="channel_e" checked />App</label>
							<label><input type="checkbox" value="微信" name="channel_e" />微信</label>
							<label><input type="checkbox" value="淘宝" name="channel_e" />淘宝</label>
						</div>
					</div>
				</div>
				<div class="moTomo moTomoSpt">
					<div class="title">交易概况</div>
					<div class="mobileOver">
						<table class="nobg">
							<thead>
								<tr>
									<td>浏览人数</td>
									<td class="moTomo_hide">复购率</td>
								</tr>
								<tr>
									<td class="bold moTomo_a"></td>
									<td class="bold moTomo_j moTomo_hide"></td>
								</tr>
							</thead>
							<thead>
								<tr>
									<td>下单人数</td>
									<td>下单笔数</td>
									<td>下单金额(元)</td>
								</tr>
								<tr>
									<td class="bold moTomo_b"></td>
									<td class="bold moTomo_c"></td>
									<td class="bold moTomo_d"></td>
								</tr>
							</thead>
							<thead>
								<tr>
									<td>付款人数</td>
									<td>付款订单数</td>
									<td>付款金额(元)</td>
									<td>付款件数</td>
									<td>客单价(元)</td>
								</tr>
								<tr>
									<td class="bold moTomo_e"></td>
									<td class="bold moTomo_f"></td>
									<td class="bold moTomo_g"></td>
									<td class="bold moTomo_h"></td>
									<td class="bold moTomo_i"></td>
								</tr>
							</thead>
						</table>
						<div class="bety">
							<div class="blue">
								<div class="inline big">浏览</div>
							</div>
							<div class="green">
								<div class="inline big">下单</div>
								<div class="inline">
									<p>(下单转化率：<span class="xiadan"></span>%)</p>
								</div>
							</div>
							<div class="red">
								<div class="inline big">付款</div>
								<div class="inline">
									<p>(付款转化率：<span class="fukuan_a"></span>%)</p>
									<p>(全店转化率：<span class="fukuan_b"></span>%)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="topten">
						<div class="title">
							明星商品-Top10
							<span class="iconfont icon-help"></span>
							<div class="help">
								<span class="iconfont icon-close"></span>
								<div class="info">
									<p>【明星商品-Top10】</p>
									<p>1.本列表展示出所选渠道、当前周期内指标排名top10的商品</p>
									<p>2.默认查找指标“付款转化率”最高的top10商品；点击各指标表头可实现按照该指标查找top10的商品</p>
								</div>
							</div>
						</div>
						<div class="mobileOver">
							<table>
								<thead>
									<tr>
										<td>商品名称</td>
										<td>分类</td>
										<td>销售价</td>
										<td class="hand" onclick="sortLoadE('browsePeopleCount',this)">商品UV</td>
										<td class="hand" onclick="sortLoadE('payPeopleCount',this)">付款人数</td>
										<td class="hand moren sortThis" onclick="sortLoadE('payCVR',this)">付款转化率</td>
										<td class="hand" onclick="sortLoadE('productSales',this)">销量</td>
										<td class="hand" onclick="sortLoadE('totalAmt',this)">交易额</td>
										<td>查看单品趋势</td>
									</tr>
								</thead>
								<tbody id="table_e"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- 周期数据 -->
			<div id="ccc" class="mainWrap spanColor">
				<div class="tool justify" data-type="5">
					<div class="title box">周期数据</div>
				</div>
				<div class="moTomo">
					<div class="title">App</div>
					<div class="mobileOver">
						<table>
							<thead>
								<tr>
									<td>周期</td>
									<td>浏览人数</td>
									<td>下单人数</td>
									<td>下单金额</td>
									<td>付款人数</td>
									<td>付款订单数</td>
									<td>付款金额</td>
									<td>总商品销量</td>
									<td>客单价</td>
									<td>复购率</td>
								</tr>
							</thead>
							<template v-for="item in list">
								<tbody id="table_fa" v-if="item.channel == 'APP'">
									<td> {{ item.date }}</td>
									<td>
									 	{{ item.browsePeopleCount }}
										<span :class="{ red:item.browseContrast <0}">({{ item.browseContrast }}%)</span></td>
									<td> ¥{{ item.orderPeopleCount }}
										<span :class="{ red:item.orderPeopleContrast <0}">({{ item.orderPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.orderTotalMoney }}
										<span :class="{ red:item.orderMoneyContrast <0}">({{ item.orderMoneyContrast }}%)</span></td>
									<td>
									 	{{ item.payPeopleCount }}
										<span :class="{ red:item.payPeopleContrast <0}">({{ item.payPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.cnt }}
										<span :class="{ red:item.cntContrast <0}">({{ item.cntContrast }}%)</span></td>
									<td> ¥{{ item.totalAmt }}
										<span :class="{ red:item.totalAmtContrast <0}">({{ item.totalAmtContrast }}%)</span></td>
									<td>
									 	{{ item.productTotalSales }}
										<span :class="{ red:item.salesContrast <0}">({{ item.salesContrast }}%)</span></td>
									<td> ¥{{ item.unitPrice }}
										<span :class="{ red:item.priceContrast <0}">({{ item.priceContrast }}%)</span></td>
									<td>
									 	{{ item.orderPRP }}
										<span :class="{ red:item.PRPContrast <0}">({{ item.PRPContrast }}%)</span></td>
								</tbody>
							</template>
						</table>
					</div>
				</div>
				<div class="moTomo">
					<div class="title">微信</div>
					<div class="mobileOver">
						<table>
							<thead>
								<tr>
									<td>周期</td>
									<td>浏览人数</td>
									<td>下单人数</td>
									<td>下单金额</td>
									<td>付款人数</td>
									<td>付款订单数</td>
									<td>付款金额</td>
									<td>总商品销量</td>
									<td>客单价</td>
									<td>复购率</td>
								</tr>
							</thead>
							<template v-for="item in list">
								<tbody id="table_fa" v-if="item.channel == '微信'">
									<td> {{ item.date }}</td>
									<td>
									 	{{ item.browsePeopleCount }}
										<span :class="{ red:item.browseContrast <0}">({{ item.browseContrast }}%)</span></td>
									<td> ¥{{ item.orderPeopleCount }}
										<span :class="{ red:item.orderPeopleContrast <0}">({{ item.orderPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.orderTotalMoney }}
										<span :class="{ red:item.orderMoneyContrast <0}">({{ item.orderMoneyContrast }}%)</span></td>
									<td>
									 	{{ item.payPeopleCount }}
										<span :class="{ red:item.payPeopleContrast <0}">({{ item.payPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.cnt }}
										<span :class="{ red:item.cntContrast <0}">({{ item.cntContrast }}%)</span></td>
									<td> ¥{{ item.totalAmt }}
										<span :class="{ red:item.totalAmtContrast <0}">({{ item.totalAmtContrast }}%)</span></td>
									<td>
									 	{{ item.productTotalSales }}
										<span :class="{ red:item.salesContrast <0}">({{ item.salesContrast }}%)</span></td>
									<td> ¥{{ item.unitPrice }}
										<span :class="{ red:item.priceContrast <0}">({{ item.priceContrast }}%)</span></td>
									<td>
									 	{{ item.orderPRP }}
										<span :class="{ red:item.PRPContrast <0}">({{ item.PRPContrast }}%)</span></td>
								</tbody>
							</template>
						</table>
					</div>
				</div>
				<div class="moTomo">
					<div class="title">淘宝</div>
					<div class="mobileOver">
						<table>
							<thead>
								<tr>
									<td>周期</td>
									<td>浏览人数</td>
									<td>下单人数</td>
									<td>下单金额</td>
									<td>付款人数</td>
									<td>付款订单数</td>
									<td>付款金额</td>
									<td>总商品销量</td>
									<td>客单价</td>
									<td>复购率</td>
								</tr>
							</thead>
							<template v-for="item in list">
								<tbody id="table_fa" v-if="item.channel == '淘宝'">
									<td> {{ item.date }}</td>
									<td>
									 	{{ item.browsePeopleCount }}
										<span :class="{ red:item.browseContrast <0}">({{ item.browseContrast }}%)</span></td>
									<td> ¥{{ item.orderPeopleCount }}
										<span :class="{ red:item.orderPeopleContrast <0}">({{ item.orderPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.orderTotalMoney }}
										<span :class="{ red:item.orderMoneyContrast <0}">({{ item.orderMoneyContrast }}%)</span></td>
									<td>
									 	{{ item.payPeopleCount }}
										<span :class="{ red:item.payPeopleContrast <0}">({{ item.payPeopleContrast }}%)</span></td>
									<td>
									 	{{ item.cnt }}
										<span :class="{ red:item.cntContrast <0}">({{ item.cntContrast }}%)</span></td>
									<td> ¥{{ item.totalAmt }}
										<span :class="{ red:item.totalAmtContrast <0}">({{ item.totalAmtContrast }}%)</span></td>
									<td>
									 	{{ item.productTotalSales }}
										<span :class="{ red:item.salesContrast <0}">({{ item.salesContrast }}%)</span></td>
									<td> ¥{{ item.unitPrice }}
										<span :class="{ red:item.priceContrast <0}">({{ item.priceContrast }}%)</span></td>
									<td>
									 	{{ item.orderPRP }}
										<span :class="{ red:item.PRPContrast <0}">({{ item.PRPContrast }}%)</span></td>
								</tbody>
							</template>
						</table>
					</div>
				</div>
			</div>
			<!-- 菜谱统计 -->
			<div id="ddd" class="mainWrap">
				<div class="tool justify" data-type="6">
					<div class="title box">菜谱统计</div>
					<div class="box">
						累计菜谱量: <span class="recipeAdd">111</span> &emsp;
						新增菜谱量: <span class="yesRecipeAdd">5</span>
					</div>
					<div class="box">
						<ul class="time clearfix">
							<li onclick="loadRecipeAll(1)" class="active">昨日</li>
							<li onclick="loadRecipeAll(7)">近七天</li>
						</ul>
					</div>
				</div>
				<div class="tagCont">
					<div class="tagbox active">
						<div id="chart_recipeAll"></div>
					</div>
				</div>
			</div>
			<!-- 累计菜谱日报 -->
			<div id="eee" class="mainWrap">
				<div class="tool justify">
					<div class="title box">累计菜谱日报</div>
					<div class="box">
						<div class="timeStr">
							<span>日期</span>
							<input id="inpstart_recipe" type="text" value="" readonly/>
							<span class="hengxian">—</span>
							<input id="inpend_recipe" type="text" value="" readonly/>
						</div>
					</div>
					<div class="timeStr box">
						<span>作者类型:</span>
						<select id="allRecipe">
							<option value="">全部</option>	
							<option value="1">系统用户</option>	
							<option value="0">PGC</option>	
						</select>
					</div>
					<div class="box">
						<a href="javascript:execlExported_one()" class="searchBtn">导出</a>
					</div>
				</div>
				<div class="moTomo">
					<div class="mobileOver">
						<table>
							<thead>
								<tr>
									<td>日期</td>
									<td>当日菜谱量</td>
									<td>当日点击量</td>
									<td>当日分享量</td>
									<td>当日收藏量</td>
								</tr>
							</thead>
							<tbody id="tableRecipeDay">
								<tr v-for="item in list">
									<td> {{ item.statisticsTime }}</td>
									<td v-if="!item.recipeAccount "> 0 </td>
									<td v-else> {{ item.recipeAccount }}</td>
									<td> {{ item.clickAccount }}</td>
									<td> {{ item.shareAccount }}</td>
									<td> {{ item.collectionAccount }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 菜谱统计详情 -->
			<div id="fff" class="mainWrap">
				<div class="tool clearfix">
					<div class="justify">
						<div class="title box">菜谱详情统计</div>
						<div class="timeStr box">
							<span>日期:</span>
							<input id="inpstartAllRecipe" type="text" value="" readonly />
							<span class="hengxian">—</span>
							<input id="inpendAllRecipe" type="text" value="" readonly />
						</div>
						<div class="timeStr box">
							<span>发布日期:</span>
							<input id="recipePublish_start" type="text" value="" readonly />
							<span class="hengxian">—</span>
							<input id="recipePublish_end" type="text" value="" readonly />
						</div>
						<div class="timeStr box">
							<span>作者类型:</span>
							<select id="recipeType">
								<option value="">全部</option>	
								<option value="1">系统用户</option>	
								<option value="0">PGC</option>	
							</select>
						</div>
					</div>
					<div class="searchRecipe">
						菜谱ID: <input type="text" value="" name="id" id="searchId" style="width:90px;" />&emsp;
						菜谱名称: <input type="text" value="" name="name" id="searchName" style="width:130px;" />
						<a href="javascript:searchRecipe(0,1)" class="searchBtn">搜索</a>
						<a href="javascript:execlExported_two()" class="searchBtn">导出</a>
					</div>
				</div>
				<div class="moTomo"  id="recipeSearch">
					<div class="mobileOver">
						<table>
							<thead>
								<tr>
									<td>序号</td>
									<td>菜谱ID</td>
									<td>菜谱名称</td>
									<td>作者类型</td>
									<td>作者</td>
									<td>点击量</td>
									<td>分享量</td>
									<td>收藏量</td>
									<td>发布日期</td>
									<td>查看详情</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="font-weight: bold;" colspan="5">合计</td>
									<td>{{ taotalClickAccount }}</td>
									<td>{{ taotalShareAccount }}</td>
									<td>{{ taotalCollectionAccount }}</td>
									<td colspan="2"></td>
								</tr>
								<tr v-for="(item, index) in list">
									<td> {{ index + 1 }}</td>
									<td> {{ item.recipeId }}</td>
									<td> {{ item.recipeName }}</td>
									<template v-if="item.authorType == 1">
										<td> PGC </td>
									</template>
									<template v-else>
										<td> 系统用户 </td>
									</template>
									<td> {{ item.authorName }} </td>
									<td> {{ item.clickAccount }}</td>
									<td> {{ item.shareAccount }}</td>
									<td> {{ item.collectionAccount }}</td>
									<td> {{ item.releaseTime | timeFix}}</td>
									<td><a :href="'./recipe.html?' + item.recipeId" target="_blank">查看详情</a></td>
								</tr>
							</tbody>
						</table>
						<div class="pagination" v-show="pageSize > 1">
	            			<a href="javascript:searchRecipe(0,1);">第一页</a>
	            			<a class="prevPage" :class="{ show:currentPage != 1}" :href="'javascript:searchRecipe(0,' + (currentPage - 1) + ');'">上一页</a>
	            			<span class="pageBreakMin" :class="{show: currentPage > 3}">...</span>
							<template v-for="n in pageSize">
	                			<a class="num" :class="{show: n > currentPage - 3 && n < currentPage + 3}" :href="'javascript:searchRecipe(0,' + n + ');'">{{ n }}</a>
							</template>
	                		<span class="pageBreakMore" :class="{show: pageSize > (currentPage + 2)}">...</span>
	            			<a class="nextPage" :class="{ show:currentPage != pageSize}" :href="'javascript:searchRecipe(0,' + (currentPage + 1) + ');'">下一页</a>
	           			 	<a class="lastPage" :href="'javascript:searchRecipe(0,' + pageSize + ');'">最后一页</a>
	        				共 {{ pageSize }} 页 共 {{ totalCount }}条记录,当前第{{ currentPage }}页 &emsp; 跳转到
	        				<input :value="currentPage" v-model="toPage"> 页
	        				<a :value="toPage" :href="'javascript:searchRecipe(0,' +  toPage + ')'">确定</a>
	    				</div>
					</div>
				</div>
			</div>
		</div>
		<div id="popshow">
			<span>!</span>
			<p></p>
		</div>
		<div id="gotop"></div>
	</body>
	<script type="text/javascript" src="./lib/md5.js"></script>
	<script type="text/javascript" src="./lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./lib/aes.js"></script>
    <script type="text/javascript" src="./lib/mode-ecb.js"></script>
    <script type="text/javascript" src="./lib/token.min.js"></script>
    <script type="text/javascript" src="./lib/echarts.common.min.js"></script>
    <script type="text/javascript" src="./lib/highcharts.js"></script>
	<script type="text/javascript" src="./lib/jquery.jedate.min.js"></script>
	<script type="text/javascript" src="./lib/vue.min.js"></script>
	<script type="text/javascript" src="./lib/main.js"></script>
</html>