@charset "utf-8";
body { @extend %fontPFL;  line-height:1.5714; background-color:#fff; font-size:$BodySize;  }

@include screen(740px) {
    // html,body{ overflow-y:scroll!important;}
}

@-webkit-keyframes arrow{
    0%{ bottom:18%; opacity:1; }
    100%{ bottom:13%; opacity:0; }
}

@keyframes arrow{
    0%{ bottom:18%; opacity:1; }
    100%{ bottom:13%; opacity:0; }
}

@-webkit-keyframes fadeBig{
    0%{opacity:0; width:30px; }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform:none;
    }
}

@keyframes fadeBig{
    0%{opacity:0; width:30px;}
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform:none
    }
}

.fadeBig{
    -webkit-animation-name:fadeBig;
    -ms-animation-name:fadeBig;
    -o-animation-name:fadeBig;
    animation-name:fadeBig; 
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%; 
}

@-webkit-keyframes arrowMobile{
    0%{ bottom:40px; opacity:0.9; }
    80%{ bottom:5px; opacity:0; }
    100%{ opacity:0; }
}

@keyframes arrowMobile{
    0%{ bottom:40px; opacity:0.9; }
    80%{ bottom:5px; opacity:0; }
    100%{ opacity:0; }
}

@keyframes aniTol {
    0% { transform:scale(1); -ms-transform:scale(1); -webkit-transform:scale(1)}
    50%{ transform:scale(1.3);-ms-transform:scale(1.3);  -webkit-transform:scale(1.3)}
    100%{ transform:scale(1); -ms-transform:scale(1); -webkit-transform:scale(1)}
}
@-webkit-keyframes aniTol {
    0% { transform:scale(1); -ms-transform:scale(1);  -webkit-transform:scale(1)}
    50%{ transform:scale(1.3); -ms-transform:scale(1.3); -webkit-transform:scale(1.3)}
    100%{ transform:scale(1); -ms-transform:scale(1);  -webkit-transform:scale(1)}
}

.aniTol{ 
    animation:aniTol 40s linear 20; 
    -ms-animation:aniTol 40s linear 20; 
    -webkit-animation:aniTol 40s linear 20; 
}

.center{ width:990px; max-width:100%; margin:0 auto; position:relative; 
    @include screen(990px) { max-width:97%;}
}

.absolute{ position:absolute; z-index:901;}
#container{ max-width:100%; margin:0 auto; 
    @include screen(740px) { display:none;}
    .fleft{ float: left; max-width:50%; position:relative; }
    .fright{ float: right;  max-width:50%; position:relative;}
    @include screen(990px) { min-width:1000px; overflow-x:scroll;}
    .banner{ position:relative;
        .bg{ overflow:hidden; font-size:0;}
        video{ width: 100%; -o-object-fit: fill; object-fit: fill; pointer-events: none; }
    }

    .bannerWarp{ position:absolute; left:0; top:0; width:100%; height:100%; z-index: 9999!important; text-align: center; background:rgba(0,0,0,0.5); 
        .logo{ margin-top:cal(240,1920);
            img{ width:cal(108,1920); }
        }
        .info{ font-size: 20px; line-height:32px; letter-spacing: 2px; color:#fff; margin-top:25px; margin-bottom: 40px; opacity:0.9 }
        .download{ position:relative; text-align: center; z-index: 2;
            p{ border-radius: 120px; display:inline-block; padding:17px 116px; cursor:pointer;
                font-size: 24px; color:#fff; margin-bottom: 10px;
                background-image: -ms-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); 
                background-image: -webkit-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); 
                background-image: linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); 
            }
            img{ width:0; @extend %trfast; display:block; margin:0 auto; }
            &:hover > img{ width:180px; }
        }
        .arrow{ position:absolute; bottom:13%; width:100%; left:0; text-align:center;
            -webkit-animation: arrow 1.5s infinite; 
            -ms-animation: arrow 1.5s infinite;
            -o-animation: arrow 1.5s infinite;
            animation: arrow 1.5s infinite;
            img{ width:40px;}
        }
        @include screen(1366px) { 
            .download{ 
                p{ padding:17px 80px; font-size:20px; }
                &:hover > img{ width:220px; }
            }
        }
    }

    .pageTxt{ 
        .tip{ font-size: 35px; color: #000000;}
        .sub{ font-size: 18px; color: #616161; margin-bottom:32px; }
        .button{ position:relative; height:220px;
            p{
             background-image: linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%);
             background-image: -ms-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%);
             background-image: -webkit-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%);
             box-shadow: 0 2px 16px 0 rgba(255,93,49,0.45); border-radius: 120px; font-size: 21.6px; display:inline-block; color: #FFFFFF; padding:10px 30px; cursor:pointer; @extend %trfast; opacity:1; }
            img{ width:0; @extend %trfast; position:absolute; left:0; top:0;}
            &:hover > img{ width:180px; }
            &:hover > p{ transform:scale(0.4); opacity:0; }
        }
        @include screen(1366px) { 
            .tip{ font-size:28px;}
        }
    }

    .bigBg{ font-size:0; overflow:hidden; position:relative; z-index:996;
        img{ max-width:inherit; width:cal(2560,1920);  margin-left:-16.666%; @extend %trfast;}
    } 

    .bgOne{
        .hand{ width:cal(758,1920); z-index: 11; top:-27%; left:33%;}
        .whisk{ width:cal(500,1920); z-index: 12; bottom:-41.8%; left:68%; }
    }

    .bgTwo{ z-index: 998; position:relative;
        .bread{ width:cal(1171,1920); z-index: 11; top:-74%; left:37%; }
        .camera{ width:cal(333,1920); z-index: 11; bottom:0%; right:12.2%; }
    }

    .bgThree{
        .peppercorns{ width:cal(387,1920); z-index: 11; top:-12.9%; left:37%; }
        .fish{ width:cal(1003,1920); z-index: 11; top:25%; right:4.7%; }
    }

    .phoneBg{ z-index:900;}

    .boxOne{ padding-top: 20px; 
        .fright{ width:cal(400,990);  }
        .pageTxt{ margin-top: 165px;}
        .phoneBg{ width:100%; right:-(cal(42,400)); position:relative;}
        .aniA{ width:106px; left:27px; top:172px;}
        .aniB{ width:143px; left:-82px; top:260px;}
        .aniC{ width:110px; left:6px; top:309px;}
        .aniD{ width:96px; left:-55px; top:359px;}
    }

    .boxTwo{ padding-bottom:8px; padding-left:40px;
        .fleft{ margin-top:-(cal(205,990)); width:cal(407,990); z-index: 997;}
        .phoneBg{ width:100%;}
        .pageTxt{  margin-top: cal(147,990); }
        .aniA{ width:cal(132,407); bottom:144px; right:316px;}
        .aniB{ width:cal(162,407); bottom:128px; right:163px;}
        .aniC{ width:cal(133,407); bottom:144px; right:39px; }
    }

    .boxThree{ padding-top:25px;
        .fright{ width:cal(373,990); }
        .phoneBg{ width:100%; position:relative; right:-36px;}
        .pageTxt{ margin-top:177px;}
        .aniA{ right:-20px; bottom:82px; width:408px; max-width:initial;}
    }

    .boxFour{ 
        .fleft{ margin-top:-205px; width:cal(408,990);  z-index: 997;}
        .phoneBg{ width:100%; right:-44px; position:relative;}
        .pageTxt{ margin-top:186px;}
        .aniA{ width:121px; top:38.8%; right:-95px;}  
        .aniB{ width:91px; bottom:34%; left:12px ;}
        .aniC{ width:50px; bottom:34%; right:-30px; }
    }

    .bottom{ padding:60px 0; border-top:1px solid #eee; margin-top:10px;
        .nav{ 
            li{ float: left;}
            li a{ font-size: 12px; color: #A5A4A4; display:block; margin-right:18px; @extend %trfast}
            li:hover a{ color:$colorh;}
        }
        .copyright{ font-size: 12px; color: #A5A4A4;} 
    }
    .skrollable {position:absolute; }
    .skrollr-mobile .skrollable {position:absolute; }
    .skrollable .skrollable {position:absolute; }
    .skrollable .skrollable .skrollable {position:static; }
}

#mobile{ max-width:768px; margin:0 auto; display:none;
    @include screen(740px) { display:block;}
    .banner{ position:relative;
        .bgSlick{ font-size:0; overflow:hidden;
            // img{ height:100%; }
        }
    }

    .bannerWarp{ position:absolute; left:0; top:0; width:100%; height:100%; z-index: 9999!important; text-align: center; background:rgba(0,0,0,0.5); 
        .logo{ margin-top:cal(131,375); 
            img{ width:cal(80,375); }
        }
        .info{ font-size: 14px; line-height:21px; letter-spacing: 1px; color:#fff; margin-top:22px; margin-bottom: 35px; opacity:0.9; padding:0 50px; }
        .download{  
            background-image: linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); 
            background-image: -ms-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); 
            background-image: -webkit-linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); box-shadow: 0 2px 16px 0 rgba(255,93,49,0.45); border-radius: 100px; display:inline-block; padding:10px 32px; 
            a{ font-size:14px; color:#fff; font-weight:bold;}
        }
        .arrow{ text-align: center; position:absolute; bottom:40px; width:100%; left:0;
            -webkit-animation: arrowMobile 2.5s infinite; 
            -ms-animation: arrowMobile 2.5s infinite;
            animation: arrowMobile 2.5s infinite;
            img{ width:17px;  }
        }
    }

    .pageTxt{ text-align: center; padding-top:48px;
        .tip{ font-size:20px; color: #000000;}
        .sub{ font-size:14px; color: #616161; margin-bottom:15px; }
        .button{ border-radius: 120px; line-height:1; display:inline-block; padding:14px 30px; border:1px solid #FF5D31;
            a{ color:#FF5D31; font-size: 14px; font-weight:bold;}
        }
    }

    .phoneWrap{ position:relative; text-align:center; overflow:hidden; padding-top:15px; font-size:0;}

    .boxOne{ 
        .phoneBg{ width:cal(314,375); }
        .aniA{ width:cal(91,375); left:cal(10,375); top:203px;}
        .aniB{ width:120px; right:cal(36,375); top:163px;}
        .aniC{ width:94px; right:cal(17,375); top:206px;}
    }

    .boxTwo{ 
        .phoneBg{ width:cal(314,375); }
        .aniA{ width:cal(94,375); left:cal(42,375); bottom:-11px;}
        .aniB{ width:cal(117,375); left:cal(130,375); bottom:-24px;}
        .aniC{ width:cal(95,375); right:cal(42,375); bottom:-11px;}
    }

    .boxThree{ 
        .phoneBg{ width:cal(302,375); }
        .aniA{ width:cal(335,375); left:cal(21,375); bottom:cal(44,375);}
    }

    .boxFour{
        .phoneBg{ width:cal(314,375); }
        .aniA{ width:cal(80,375); top:31.2%; right:cal(11,375);}  
        .aniB{ width:cal(60,375); top:48%; left:cal(23,375); }
        .aniC{ width:cal(45,375); top:61.1%; right:cal(35,375); }
    }

    .copyright{ font-size: 12px; color: #A5A4A4; text-align:center; border-top:1px solid #eee; line-height:40px; height:40px; }
}


