@charset "utf-8";
body { @extend %fontPFN;  line-height:1.5714; background-color:#fff; font-size:$BodySize; overflow-x:hidden; }
#container{ width:1920px; max-width:100%; margin:0 auto; }
.center{ width:990px; max-width:100%; margin:0 auto; position:relative; 
    @include screen(990px) { max-width:97%;}
}

#banner{ position:relative; max-width:1920px; width:100%;
    > img{ width:100%;}
    .logo{ position:absolute; right:9.2%; top:0; background-color:#fff; padding:10px 15px;
        img{ width:60px;}
    }
    @include screen(990px) {
        .logo{ padding:10px 8px 0 10px; right:0;
            img{ width:40px;}
        }
    }
     @include screen(480px) {
        > img{ width:150%; max-width:150%; margin-left: -25%;}
     }
}

#describe{ padding:39px; margin-top:26px;
    .title{text-align: center; font-weight:bold; color:#fe7a7a; margin-bottom:15px;
        img{ width:34%;}
    }
    .info{ font-size:17px; color:#342b2b; line-height:2;
        .yellow{ color:#fe7a7a;}
    }
    @include screen(990px) { margin-top:10px;
        .title{  margin-bottom: 5px;
            img{ width:40%; min-width:200px;}
        }
        .info{ font-size:14px; line-height:1.8;}
    }
    @include screen(480px) { padding:0 0 15px 0;  }
}

#sevenDays{ background:#fff6ed url(../img/bgbot.jpg) no-repeat bottom right; padding-bottom:130px; position:relative;
    &:before{ width:128px; height:180px; content:''; position:absolute; left:0; top:240px; background:url(../img/sjxleft.png) no-repeat center right;}
    &:after{ width:179px; height:224px; content:''; position:absolute; right:0; top:-110px; background:url(../img/sjxright.png) no-repeat center left;} 
    .warpBg{ padding-top:70px; background: url(../img/bgtop.jpg) no-repeat top left; 
        &:before{ width:179px; height:224px; content:''; position:absolute; left:0; bottom:-149px; background:url(../img/sjxleft.png) no-repeat center right;}
        &:after{ width:228px; height:285px; content:''; position:absolute; right:0; bottom:-47px; background:url(../img/sjxright.png) no-repeat center left;} 
    }
    .top{ text-align: center; margin-bottom:50px;
        img{width:cal(400,990);}
    }
     @include screen(1640px) {
        &:after{ top:0px;}
        .warpBg{ padding-top:120px;}
     }
    @include screen(990px) {  background:#fff6ed; padding-bottom:30px;
        &:before,&:after{ display:none;}
        .warpBg{ padding-top: 20px; background:none;
            &:before,&:after{ display:none;}
        }
        .top{ margin-bottom:40px;
            img{ width:30%; min-width:200px;}
        }
        @include screen(480px) { 
            .top{ margin-bottom:20px;}
        }
    }
}

.giftList{ width:28%; margin-bottom:70px; vertical-align:top!important;
    .time{ text-align: center; img{ width:48%;} }
    .img{ margin-top:20px; margin-bottom:16px; text-align:center;
        img{ display:inline-block; vertical-align: top;}
        &:after{ content:''; display:inline-block; vertical-align: top; width:0px; height:100%; overflow: hidden;}
    }
    .title{  margin-bottom:5px;
        p{ font-size:20px; font-weight:bold;}
    }
    .info{ 
        .price{ font-size:16px; padding-top:4px; display:inline-block;}
        a{ color:#fff; font-size:16px; background-color:#fe9391; float:right; padding:5px 50px; border-radius:30px;}
    }
    &.centerAuto{ margin:0 auto; width:45%;}
    @include screen(990px) { margin-bottom: 40px;
        .time{ text-align: center; img{ width:50%; min-width:130px;} }
        .title{ font-size:18px; text-align: center; font-weight:normal;}
        .img{ border:1px solid #f9e6d3; padding:10px 0; margin-top: 20px; margin-bottom: 20px; img{ width:60%;}}
        .info{
            .price{ font-size:14px;}
            a{ font-size:14px; padding:5px 20px; }
        }
    }
    @include screen(480px) { width:48%; 
        .title{ font-size:16px;}
        .img{ margin-top:10px; margin-bottom: 10px;}
        .info .price{ padding-top:1px;}
        .info a{ font-size:12px; padding:3px 28px; }
    }
    @include screen(480px) { 
        .info a{ padding:2px 10px;}
    }
}

#join{ text-align: center; margin-bottom:290px; margin-top:50px;
    img{ width:28%;}
     @include screen(990px) { margin-bottom:0px; background-color:#fff7f7; padding:30px 0; margin-top: 0;
        img{ width:60%;}
     }
}

.commonLayer{ background-color:#fff7f7; margin-bottom:300px;
    &.ggg{ margin-bottom: 100px;
        .topLay .img{ max-width:480px;}
    }
    .topLay{ top:-130px; text-align: center; margin-bottom: -110px;
        .time{ display:inline-block; vertical-align: top; position:relative; width:220px; text-align:right;
            img{ width:80px;}
            &:after{ content:''; width:2px; height:110px; background-color:#c44860; position:absolute; top:128%; right:50px;transform:rotate(-25deg); transform-origin:50% 0%; -o-transform-origin:50% 0%; -webkit-transform-origin:50% 0%; -webkit-transform:rotate(-25deg); -o-transform:rotate(-25deg);}
        }
        .img{ display:inline-block; margin:0 26px; max-width:330px;}
        .title{ display:inline-block; vertical-align: bottom; max-width:220px; text-align: left; padding-bottom:20px;
            b{ font-size:17px; line-height: 1.2; margin-bottom:10px;}
            p{ font-size:16px;}
        }
    }
    .imgBox{ 
        img{ float: left; width:33.333333%; }
    }
    .info{ padding-bottom:100px;
        .txt{ padding:32px 40px; 
            p{ line-height:1.7; font-size:15px; color:#342b2b; margin-bottom:10px;}
        }
    }
    .step{ background-color:#fff; 
        .round{ width:138px; height:138px; border-radius:100%; overflow-x: hidden; background-color:#fe7a7a; font-size:18px; color:#fff; text-align: center; padding:10px 10px; margin:0 auto; margin-bottom:0px; position:relative; top:-69px;
            p{ line-height: 1.1; padding:10px 0;
                &:first-child{ border-bottom:2px dashed #fff; }
            }
        }
        .list{ width:24%; text-align: center; vertical-align: top;}
        .dot{ width:10%; text-align: center; padding-top: 104px;
            span{ width:10px; height:10px; border-radius:50%; background-color:#feafaf; display:inline-block; margin:0 7px;}
        }
        .top{ text-align:center; margin-bottom:20px; 
            img{ width:90px; }
        }
        .img{ height:120px; margin-bottom:20px;
            img{ vertical-align: middle; width:80px;}
            &:after{ content:''; display:inline-block; vertical-align: middle; width:0px; height:100%; overflow:hidden;}
        }
        .txt{ font-size:17px; text-align:center; color:#333;
            a{ color:#000; display:inline; @extend %trfast;}
            a:hover{ color:#ff8463;}
            b{ font-weight: bold; color:#ff8463;}
        }
    }
    @include screen(990px) { margin-bottom: 50px; padding-top: 20px;
        .topLay{ top:0; margin-bottom: 10px;
            .time{ vertical-align: middle; width:auto; text-align: center;
                img{ width:100px;}
                &:after{ display:none; }
            }
            .img{ vertical-align: middle; }
            .title{ vertical-align: middle;
                b{ font-size:18px;}
                p{ font-size:16px;}
            }
        }
        .info{ 
            .txt{ font-size:18px; padding:30px 20px; }
        }
        .step{ 
            .dot{ display:none;}
            .list{ width:30%;}
            .txt{ font-size:16px; line-height: 1.6;}
        }
    }
    @include screen(480px) { 
        .topLay{ 
            .time{ position:absolute; left:10px; top:0; img{ width:60px; }}
            .img{ margin-left: 0; margin-right:0; img{ width:200px;}}
            .title{ display:block; width:100%; max-width: 100%; text-align:center; padding-top: 10px;}
        }
        .info{
            .txt{ font-size: 16px; padding:10px;}
            .round{  width:128px; height:128px; margin-bottom: -64px;
                p{ font-size:16px; }
            }
        }
        .step{ padding-top: 80px;
            .img{ display:none;}
            .list{ width:100%; margin-bottom: 20px;}
            .top{  text-align: left; margin-bottom: 5px;
                img{ width:60px;}
            }
            .txt{  text-align: left; }
        }
        &.ggg{ margin-bottom: 0;}
    }
}

#bottomBanner{ border-bottom: 13px solid #ff8a8d; font-size:0;
    img{ width:100%;}
     @include screen(480px) {
        img{ width:150%; max-width:150%; margin-left: -25%;}
    }
}

#footer{ margin-top:0px; padding:30px 45px 10px 45px;
    .box{ width:48%; font-size:14px; color:#A5A4A4; margin-bottom: 20px;}
    .share a{ display:inline-block; width:32px; margin-left: 10px; font-size:0;}
    p{ font-size: 14px; color:#A5A4A4; margin-bottom:10px;}
    input[type=text]{ width:210px; height:34px; padding: 0 10px; border:1px solid #e1e1e1; }
    input[type=button]{ width:72px; height:34px; color:#fff; background-color: #A5A4A4; border:0px none; margin-left: -5px;}
    ul{ display:inline-block;}
    li{ float: left;
        a{ display:block; color:#A5A4A4; font-size:12px; margin-right: 15px; text-transform:uppercase;}
    }
    li:hover a{ color:$color;}
    .copyright{ font-size: 12px; text-align:right;}
    @include screen(876px) { padding:20px; display:none;
        .box{ width:100%; }
        .txtRight{ text-align:left; }
        img{ margin-left: 0; margin-right: 10px;}
        .copyright{ text-align:left;}
    }
}

#menuRight{ position:fixed; z-index: 999; right:40px; top:20%; opacity:0.85; @extend %trfast;
    &:hover{ opacity:1;}
    .leftDay{ font-size:22px; font-weight: bold; margin-bottom:16px; cursor:pointer; text-align: center; width:42px;} 
    .slideObj .list{ width:42px; height:28px; background-color:#fe9898; color:#fff; font-size:18px; text-align: center;
        border-radius:14px; overflow:hidden; line-height:32px; margin-bottom: 18px; cursor:pointer; position:relative; 
    }
    .scrollTop:after{ content:''; width:0; height:0; position:absolute; top:8px; left:11px; border-bottom:10px solid #fff; border-left:10px solid transparent; border-right:10px solid transparent;}
    @include screen(990px) { right:10px; top:20%;
        .leftDay{ background-color: #fe9898; border-radius:10px; margin-bottom: 5px; font-size:18px; line-height: 1; color:#fff; padding:6px 0}
        .slideObj .list{ margin-bottom:6px; font-size:14px;} 
    }
}

.mobileCpy{ display:none; font-size:12px; text-align: center; padding:10px 0;
     @include screen(990px) { display:block; }
}



