

	#print{ width:794px; max-width: 100%; margin:0 auto; padding: 10px 35px;}
	#print .printHeader{padding-bottom: 20px;}
	#print .printHeader img{width: 76px;}
	#print .recipe .title{display:block;font-size:24px;color:#000;padding-bottom:10px;}
	#print .recipe .subTitle{margin-right:20px;color:#A5A4A4;font-size:12px;}

	#print .info{margin:32px 0;}
	#print .info img{width:15px;height:18px;margin-right:10px;}
	#print .info span{font-size:18px;margin-bottom:14px;display:inline-block;}
	#print .info p{padding-left:29px;padding-right: 70px; font-size:14px;}

	#print .meterial {margin:32px 0;}
	#print .meterial img{width:15px;height:18px;margin-right:10px;}
	#print .meterial span{font-size:18px;margin-bottom:14px;display:inline-block;}
	#print .meterial p{padding-left:29px;padding-right: 70px; font-size:14px;margin:4px 0;}

	#print .step {margin:32px 0;}
	#print .step img{width:15px;height:18px;margin-right:10px;}
	#print .step span{font-size:18px;margin-bottom:14px;display:inline-block;}
	#print .step p{padding-left:29px;padding-right: 70px; font-size:14px;margin:4px 0;}
 

	
	
